@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Actay Wide';
  src: url('/font/ActayWide-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate-fadeSlideDown {
  animation: fadeSlideDown 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate-fadeSlideUp {
  animation: fadeSlideUp 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate-fadeScale {
  animation: fadeScale 0.3s ease-out forwards;
}

/* Стили для скроллбара в ЛК */
.scrollbar-purchases::-webkit-scrollbar {
  width: 6px;
}


.scrollbar-purchases::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-purchases::-webkit-scrollbar-thumb {
  background-color: rgba(244, 231, 255, 0.3);
  border-radius: 3px;
}

.scrollbar-purchases::-webkit-scrollbar-thumb:hover {
  background-color: rgba(244, 231, 255, 0.5);
}

/* Добавьте эти стили для адаптивной сетки карточек */
@media screen and (min-width: 1920px) {
  .purchases-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1919px) {
  .purchases-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .purchases-grid {
    grid-template-columns: 1fr;
  }
}